<ion-content >
  <img src="assets/login_bg.png" alt="Login image" />
 

  <!-- Bottom section for form -->
  <div class="bottom-section">
    <h1>Log in</h1>
    <p>Now no more worie about get lost.</p>
    <ion-input shape="round" type="text" label="Username" label-placement="floating" fill="outline" placeholder="Enter your username" class="rounded-input"></ion-input>
    <ion-input shape="round" type="password" label="Password" label-placement="floating" fill="outline" placeholder="Enter your password" class="rounded-input"></ion-input>
    <ion-button shape="round" expand="block">Login</ion-button>

    

    <!-- Title for alternative login -->
    <div class="alternative-login-title">
      <p>Or login with:</p>
    </div>
    <!-- Divider -->
    <div class="divider"></div>
    <!-- Login icons -->
    <div class="login-icons">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-google"></ion-icon>
      <ion-icon name="mail"></ion-icon>
    </div>
  </div>
</ion-content>
