<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Top section for image -->
  <div class="top-section">
    <img src="assets/nobg.png" alt="Login image" />
  </div>

  <!-- Bottom section for form -->
  <div class="bottom-section">
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input type="text" placeholder="Enter your username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" placeholder="Enter your password"></ion-input>
    </ion-item>

    <ion-button shape="round" expand="block">Login</ion-button>
  </div>
</ion-content>
